{% extends 'base.html' %}

{% block extra_css %}
{%load static%}
<link rel="stylesheet" href="{% static 'css/blog_list.css' %}">
{% endblock %}

{% block content %}

<div class="sad">
    <!-- Header -->
    <header>
        <h1>Welcome to the Blog</h1>
    </header>

    <!-- Blog Lists -->
    <div class="container">
        <ul>
            {% for blog in blogs %}
                <li class=" ">
                    <div class="blog-item">
                        <a href="{% url 'myblog:blog_detail' pk=blog.pk %}">{{ blog.title }}</a> - 
                        <small>Published on {{ blog.pub_date }}</small>
                    </div>
                </li>
            {% endfor %}
        </ul class="blist">
        <div class="blog-item">
            <a href="{% url 'myblog:blog_new' %}" class="new-blog">Create a New Blog</a>

        </div>
    </div>

</div>

    {% endblock %}
