<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='C:\Users\atlas\Desktop\WDMMORPG\Excel Python iAutoMouseDrags\web\WDM\env\WDMMORPG2\ProfileApp\static\css\Dashboard.css'>
    <script src='C:\Users\atlas\Desktop\WDMMORPG\Excel Python iAutoMouseDrags\web\WDM\env\WDMMORPG2\ProfileApp\static\js\Dashboard.js'></script>
</head>
<body>
    <h1>Enter Profile Information</h1>
    <p>
        Allow Profile with rank CORS capability
        A user with the most time in WDMMORPG
        Must gain influence over the website
    </p>

    <p>
        The top 3 users get shares of the website
    </p>

    <p>
        The top 3 users are based by time spent in combination with All
        levelable factors that will be calculated
    </p>
    
    <h1>Within This Html Link All Apps</h1>
    <h1>Apps Consist of the following:</h1>
    <h>Allow Users to subscribe to Applications</h>
    <text>
        subscribe to the following applications
    </text>
    <p>Planning Application</p>
    <p>Beats Application</p>
    <p>Blog Application</p>
    <h2>
        public blog application which gives users the abbility to freely blog on a subdomain of blogs
    </h2>
    <p>Course Application</p>
    <p>Chat Application</p>
</body>
</html>
