{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/album_list.css' %}">
{% endblock %}

{% block content %}
<div class="album-container">
    <h1 class="page-title">Albums</h1>
    <div class="album-list">
        {% for album in albums %}
        <div class="album-card">
            <a href="{% url 'music:album_detail' album.id %}" class="album-link">
                <div class="album-info">
                    <span class="album-title">{{ album.title }}</span>
                    <span class="album-artist">by {{ album.artist }}</span>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
