{% extends 'base.html' %}

{% block extra_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/plist.css' %}">
{% endblock %}

{% block content %}

<div class="playlist-container">
    <h1 class="title">Playlists</h1>
    <a href="{% url 'music:playlist_create' %}" class="create-button">Create New Playlist</a>
    <div class="playlist-list">
        {% for playlist in playlists %}
        <div class="playlist-item">
            <a href="{% url 'music:playlist_detail' playlist.pk %}" class="playlist-link">{{ playlist.title }}</a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
