<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <!-- Define roomName using the room_name variable from the view -->
    <script type="text/javascript">
        const roomName = "{{ room_name }}";
    </script>

    <script>
        // Correctly decide between ws:// and wss://
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var chatSocket = new WebSocket(
        ws_scheme + '://127.0.0.1:8001/ws/chat/' + roomName + '/'
);


        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
    
</body>
</html>
