<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jumbotron Example</title>
    <style>
      .jumbotron {
        background-color: #28a745;
        color: #000000;
        padding: 100px;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 50px;
      }
      .jumbotron p {
        font-size: 36px;
        margin-bottom: 50px;
      }
    </style>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/home.css' %}">        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
  </head>
  <body>
    
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Telecommunications Company</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    
    
    <div>
    <div class="jumbotron">
      
      <h1>WDMMORPG</h1>
      <p>Connecting you to WDM world.</p>
      

       <div class="reel-container">
            <div class="col-3">
              
              <p>
                doing up bizz
              </p>
         
            </div>
         
         
            <div class="col-6">
                <div class="row project-status-block">
                    <div class="col-12 project-status-block bgblack">

                        <div class="project-title-box">
                            <h2>WDM Devops </h2>

                            <div class="priority-box">
                                    s
                            </div>

                        </div>


                        <div>
                            <div class="loading-bar">
                                <div class="progress">
                                  <div class="inner-progress">
                                    <div class="align-center">
                                      <text class='bar-text align-center'>
                                        75%
                                      </text>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>

                    </div>



                
                </div>

            </div>

             
         
         
            <div class="col-3">
              the class aint ere man
            </div>
        </div>
      
      
       <div class="reel-container">
            <div class="col-3">Column 1</div>
            <div class="col-6">Column 2</div>
            <div class="col-3">Column 3</div>
        </div>
      
      </div>
      

          
      </div>
      
      
      </div>
      
      
    </div>
  </body>
</html>