{% extends 'base.html' %}

{% block extra_css %}
<style>
    .project-detail {
    font-family: 'Arial', sans-serif;
    color: #333;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 12px;
}

.project-detail h1 {
    color: #2a2a2a;
    margin-bottom: 10px;
}

.project-detail p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.mission-detail {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.mission-detail h3, h4 {
    color: #4CAF50;
}

.mission-detail ul {
    list-style-type: none;
    padding: 0;
}

.mission-detail li {
    margin-bottom: 10px;
}

.mission-detail a {
    color: #007bff;
    text-decoration: none;
}

.mission-detail a:hover {
    text-decoration: underline;
}

button {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-detail {
        padding: 10px;
    }
}

</style>
{% endblock %}

{% block content %}
<div class="project-detail">
    <h1>Project: {{ project.title }}</h1>
    <p>{{ project.description }}</p>
    <!-- Project information here -->

    {% for mission in missions %}
    <div class="mission-detail">
        <h3>{{ mission.title }}</h3>
        <p>Description: {{ mission.description }}</p>
        <p>Priority: {{ mission.priority }}</p>  <!-- Assuming PriorityScale has a 'name' field -->
        <p>Experience: {{ mission.calculate_experience }}</p>

        <h4>Tasks</h4>
        {% for task in mission.tasks.all %}
        <ul>
            <li><a href="{% url 'wdm:task_detail' task.id %}"><h5>{{ task.title }}</h5></a></li>
            <li>Brief: {{ task.description }}</li>
            <li>Status: {{ task.status }}</li>
            <!-- More task details -->

            {% if task.is_completed %}
            <li>
                <p>Completed on: {{ task.completed_on }}</p>
                <p>Experience gained: {{ task.experience_gained }}</p>
            </li>
            {% else %}
            <li>
                <form action="{% url 'wdm:complete_task' task.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Complete Task</button>
                </form>
            </li>
            {% endif %}

            <li>
                <form action="{% url 'wdm:task_delete' task.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remove Task</button>
                </form>
            </li>

            <li><a href="{% url 'wdm:task_update' task.id %}">Update Task</a></li>
        </ul>
        {% endfor %}

    </div>
    {% endfor %}
</div>
{% endblock %}
